/* Import poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-bg-dark: #4e4a4a;
  --theme-bg-white: #e0e0e0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--theme-bg-white);
}

.otp-section {
  width: 100%;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.otp-container {
  width: 800px;
  height: 400px;
  /* border: 2px solid blue; */
  /* margin: auto; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 25px;
  /* background: #e0e0e0; */
  box-shadow: 9px 9px 18px #707070, -9px -9px 18px #ffffff;
  position: relative;
}

.otp-container h1 {
  font-size: 50px;
  text-transform: capitalize;
}

.otp-container .otp-input-list {
  padding: 20px;
}

.otp-container .otp-input-list input {
  width: 60px;
  height: 60px;
  border: transparent;
  font-size: 50px;
  text-align: center;
  border-radius: 20px;
  background: e0e0e0;
  /* box-shadow: 5px 5px 10px #707070, -5px -5px 10px #ffffff; */
}

.otp-container .otp-input-list input:focus {
  outline: none;
}

.otp-container .generate-otp-code,
.otp-validate-message {
  font-size: 30px;
}

#switch-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
