body {
    /* background-color: aqua; */
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}